* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #e4e4e4;
}

.content {
    width: 100vw;
    padding: 1rem;
    background-color: #fff;
    box-shadow: 0px 0px 3px #00000036;
}

@media screen and (min-width: 992px) {
    .content {
        max-width: 922px;
        height: auto;
        margin: 1rem auto;
        border-radius: 1rem;
    }
}